@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    网上邻居<br />
    <abbr title="Phone">P:</abbr>
    13838000123
</address>

<address>
    <strong>技术支持:</strong>   <a>diwang839639311@163.com</a><br />
    <strong>市场:</strong> <a>diwang839639311@163.com</a>
</address>